{% extends "images/base.html" %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {% load static %}
        <div class="container">
            <h1>WANNA SEE SOME CORGIS???</h1>
            <h2>You've never seen corgis before? <a href="{% url 'signup' %}">
            <br><button type="button" class="btn btn-primary">Sign Up</button></a></h2>
            <h2>You want to see them again? <a href="{% url 'login' %}">
            <br><button type="button" class="btn btn-primary">Login</button></a></h2>
      </div>
    {% endblock %}
{% block bottom %}
    {{ block.super }}
{% endblock %}
