{% extends 'images/base.html' %}

{% block content %}
    <h1>Login</h1>
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit" id="loginbtn">Login</button>
        <input type="hidden" name="mp_distinct_id" value="" id="mp_distinct_id">
        <input type="hidden" id="distinct-id" value="{{ profile.distinct_id }}">
    </form>
{% endblock %}
